## Import everything we nee

In [1]:
import pandas as pd
import numpy as np
import requests
import os
from sql import get_data
import psycopg2 # Needed to get database errors when uploading dataframe
import sql
import sqlalchemy
# hides warning messages
import warnings
warnings.filterwarnings("ignore")
import re

## Get data from SQL-Database

In [19]:
jobs_df = get_data('SELECT * FROM capstone.jobs')

In [21]:
jobs_df.head()

,id,job_id,posted_date,company_name,job_title_en,job_description,city,state,country,search_country,world_region
0,652,2022-05-26_Raleigh-Durham-Chapel Hill Area_Bri...,2022-05-26,Timmons Group,Bridge Design Engineer,Timmons Group is a multi-disciplined engineeri...,Raleigh-Durham-Chapel Hill,NC,United States,United States,North America
1,715,2022-04-28_Greater Metz Area_Ingénieur d’études,2022-04-28,EST OUVRAGES,Engineering studies,In a context where the variety of projects han...,Metz,Grand Est,France,France,Europe
2,436,2022-05-26_Greater Indianapolis_Performance En...,2022-05-26,Rolls-Royce,Performance Engineer,Job DescriptionPerformance Lead EngineerIndian...,Indianapolis,IN,United States,United States,North America
3,411,2022-05-11_Madrid_Ingeniero aeronáutico,2022-05-11,Exceltic,Aeronautic engineer,Are you passionate about the aeronautical worl...,Madrid,None,Spain,Spain,Europe
4,1243,2022-05-10_Colombes_Ingénieur-e méthode usinag...,2022-05-10,Safran,Engineer-e specialized machining method costs,Safran is an international high-tech group ope...,Colombes,Île-de-France,France,France,Europe

## Assigning keywords to Categories

In [4]:
keywords = { 1 : ['Account', 'Customer Service', 'Customer Support', 'Customer Journey', 'Customer Training'],

             2 : ['student', 'intern', 'graduate', 'trainee', 'students', 'Werkstudent', 'thesis'],

             3 : [r'\bSAP\b', r'\bHCM\b', r'\bIT\b', 'Full Stack', 'Front End', 'Back End', 'Software', 'Data Architect', 'Cloud', 'Frontend', 
                'Backend', 'Front-end', 'Back-end','Artificial Intelligence', 'Machine learning', r'\bML\b', r'\bAI\b', 'Linux', 'Data Engineer', 
                'Digital', 'Security Engineer', 'Cybersecurity', 'Cyber', r'\bSW\b', 'Embedded', r'\bC#\b', '.Net', 'UX/UI', r'\bUX\b', r'\bUI\b', 
                'Skywise', 'Network Security'],

            4 : ['Supply Chain', 'Material', 'Material Service', 'Warehouse', 'Buyer', 'Logistic', 'Store', 'Storekeeper', 'Customs', 'Export', 
                'Buying', 'SUPPLIES AND STOCKS', 'Supply Manager', 'Procurement'],

            5 : ['Employee Relations', r'\bHR\b' , 'Health', 'Welfare', 'Claims', 'Human Resources', 'Recruiter', 'Wellbeing', 
                'Leave Program', 'HR Analytics', 'HR Executive', 'Recruitment', 'People'],

            6 : ['Calibration', 'Quality', 'Quality Engineer', 'Quality Inspector'],

            7 : ['Trainer'],

            8 : ['Data Analyst', 'Data Science', 'Senior Business', 'Strategy', 'Decision Support', 'Strategic', 'Forecast', 'Business Analyst', 
                'Operations Analyst', 'Data Scientist', 'Web Analyst', 'Intelligence'],

            9 : ['Crafter', 'Craftsman', 'Craftswoman', 'Painting', 'Maintenance', 'Technician', 'Cabin Maintenance', 'Line Maintenance', 
                'Base Maintenance', 'Heavy Maintenance', 'Component Maintenance', 'Avionic(s)', r'\bIFE\b', 'In-Flight Entertainment', 'TechOps', 
                'AOG', 'Planner', 'Repair. Sheet Metal', r'\bNDT\b', r'\bCNC\b', 'Machinist', 'Installer', 'Painter', 'Shop Manager', 'Manufacturing', 
                'Saddler', 'Structure', 'B1', 'B2', 'B1/B2', 'welder', 'technical', 'Aircraft mechanic', 'mechanic', 'Machine Shop'],

            10 : ['Invoice', 'Controller', 'Financial', 'Finance', 'Accounting', r'\bTax\b', 'Cost Analyst'],

            11 : ['Propulsion', r'\bEngine\b', r'\bCFM\b', r'\bRR\b', 'Rolly-Royce', r'\bPW\b', 'Engine Mechanic', 'PowerPlant'],

            12 : ['Sales', 'Sales Support', 'Sales Development', 'Global Sales', 'Domestic Sales', 'Corporate Sales', 'Sales Account', 'E-Sales', 'Sales Manager'],

            13 : ['Fuel Cell, Sustainability', 'Green', 'Hydrogen', 'Zero', 'H2', 'LH2', 'H2 Engineer', 'Hybrid', 
                 'Electric Propulsion', 'H2 tank', r'\bSAF\b', 'sustainable Aviation Fuel', 'climate',  'cryogen'],
            
            14 : ['Engineer', 'Engineering', 'F&E', r'\bCAD\b', 'Service Engineer', 'Repair Development', 'Certification Engineer',
                 'Design Engineer', 'Ingénieur', 'Entwicklungsingenieur', 'Ingenieur', 'Test Engineer', 'Weight & Balance', 
                 'Computational', 'Avionics Engineer', 'Mechanical Engineer', 'Electrical Engineer'],
            15 : ['Marketing']
}

## Loop through complete DF to find categories in 'Job-Title'

In [17]:
def find_job_keyword(jobs_df):

    for row in range(len(jobs_df)):
        for key in keywords:
            for value in keywords[key]:
                job_title_low = jobs_df['job_title_en'][row].lower()
                keyword_low = value.lower()

                if re.search(keyword_low, job_title_low):
                    save_job_categories(jobs_df['id'][row], key)

In [18]:
find_job_keyword(jobs_df)

INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('362', 6)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('945', 4)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('652', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('652', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(652) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('968', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('968', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(968) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('968', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(968) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('985', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('985', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(985) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('715', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('715', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(715) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1040', 6)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1040', 6)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1040) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1040', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1040) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('436', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1830', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1831', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2189', 4)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2189', 4)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(2189) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2190', 3)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2191', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('403', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('410', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('410', 9)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(410) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('411', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1242', 4)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1242', 9)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1242) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1243', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1244', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1244', 4)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1244) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1245', 6)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1245', 6)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1245) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1245', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1245) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1246', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2192', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1248', 6)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1248', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1248) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1249', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1251', 3)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1251', 8)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1251) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('547', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('547', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(547) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('419', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('412', 3)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('415', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('415', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(415) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('422', 5)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('414', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2196', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2197', 15)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2198', 3)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2199', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('2200', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('424', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('424', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(424) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('417', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('918', 4)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('76', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('30', 11)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('30', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(30) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('77', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('79', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('79', 12)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(79) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('80', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('80', 8)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(80) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('31', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('32', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('631', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('631', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(631) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('642', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('642', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(642) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1037', 10)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('33', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('34', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('35', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('36', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('407', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('84', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('85', 10)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1262', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('1262', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(1262) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('26', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('51', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('51', 2)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(51) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('51', 3)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(51) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('52', 5)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('53', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('54', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('55', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('56', 3)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('57', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('57', 13)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(57) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('57', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(57) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('59', 6)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('59', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(59) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('60', 2)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('61', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('62', 14)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('63', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('64', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('64', 10)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(64) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('66', 13)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('66', 14)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(66) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('67', 1)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('88', 12)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('89', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('68', 10)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('69', 9)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('69', 9)
Failed to insert record into mobile table duplicate key value violates unique constraint "jobs_jcat_unique_id"
DETAIL:  Key (jobs_id)=(69) already exists.

PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('72', 8)
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ('72', 15)

# Save categories in database:

In [7]:
def save_job_categories(jcat_id, jobs_id):
    connection = psycopg2.connect(user="postgres",
                                    password="]+Dr\DXm()`o=L:+",
                                    host="35.234.81.23",
                                    port="5432",
                                    database="postgres")
    
    try:
        
        cursor = connection.cursor()

        postgres_insert_query = f"INSERT INTO capstone.jobs_jcat (jobs_id, jcat_id) VALUES ({jobs_id}, {jcat_id})"
        print(postgres_insert_query)
        cursor.execute(postgres_insert_query)

        connection.commit()
        count = cursor.rowcount
        print(count, "Record inserted successfully into mobile table")

    except (Exception, psycopg2.Error) as error:
        print("Failed to insert record into mobile table", error)

    finally:
        # closing database connection.
        if connection:
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")