In [33]:
import pandas as pd
from sql import get_data
import warnings
warnings.filterwarnings("ignore")
import psycopg2 # Needed to get database errors when uploading dataframe
import sqlalchemy
import nltk  
import string
from nltk.corpus import stopwords
import os
import psycopg2 # Needed to get database errors when uploading dataframe
import sql
import sqlalchemy

In [23]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rebeccastolze/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
clean_jobs = get_data('SELECT * FROM capstone.jobs_translated')

In [3]:
jobs_new = clean_jobs[['id','job_id', 'posted_date', 'company_name', 'job_title_en2', 'job_description', 'city', 'state', 'country']]

In [4]:
jobs_new['job_title_en'] = jobs_new['job_title_en2']

In [5]:
jobs_complete = jobs_new[['id','job_id', 'posted_date', 'company_name', 'job_title_en', 'job_description', 'city', 'state', 'country']]

In [32]:
jobs_complete.head(50)

,job_id,posted_date,company_name,job_title_en,job_description,city,state,country,search_country,world_region
0,2022-04-07_Munich_Embedded Communication Elect...,2022-04-07,Volocopter GmbH,Embedded Communication Electronics - VoloConne...,Your future Volocopter crew:Within a highly mo...,Munich,Bavaria,Germany,Germany,Europe
1,"2022-05-11_Us_Director of Health, Safety & Env...",2022-05-11,Modern Aviation,"Director Health, Safety & Environment",Primary Purpose of the PositionCreates and imp...,Us,None,France,France,Europe
2,2022-05-01_Bouguenais_Ingenieur QSE Alternant H/F,2022-05-01,IRT Jules Verne,Ingenieur QSE Alternant,The Jules Verne Technological Research Institu...,Bouguenais,None,France,France,Europe
3,2022-04-23_Cugnaux_Ingénieur Développement Str...,2022-04-23,AURA-AERO,Structural Development Engineer,"Description of the company ✈AURA AERO, a Frenc...",Cugnaux,None,France,France,Europe
4,2022-05-25_Hamburg_Shell Graduate Programme 20...,2022-05-25,Shell,Shell Graduate Programme 2022 (Commercial) - G...,Are you in the final year of your studies or g...,Hamburg,Hamburg,Germany,Germany,Europe
5,2022-05-16_Aix-en-Provence_Développeur back-end,2022-05-16,Cap4 Lab,Back end developer,"With Cap4 Lab, you join a growing internationa...",Aix-en-Provence,Provence-Alpes-Côte d'Azur,France,France,Europe
6,2022-03-22_Paris_Infrastructure Engineer - (Fl...,2022-03-22,SITA,Infrastructure Engineer - (Flex/Hybrid Options),As owner of one of the largest secure private ...,Paris,Île-de-France,France,France,Europe
7,2022-05-16_Greater Marseille Metropolitan Area...,2022-05-16,FERCHAU Aviation Group - France,Project Manager,Job description: Flight simulation project man...,Marseille,Provence-Alpes-Côte d''Azur,France,France,Europe
8,2022-05-18_Seine-et-Marne_Ingénieur Assurance ...,2022-05-18,Modis,Aerospace Supplier Quality Assurance Engineer,Your mission Modis Tech Talent Services* is th...,Seine-et-Marne,None,France,France,Europe
9,2022-04-28_Hasparren_Stage « Assistant chef de...,2022-04-28,LAUAK GROUPE,“ERP coordination project manager assistant” i...,"CompanyA fast-developing family group, LAUAK i...",Hasparren,None,France,France,Europe
10,2022-05-13_Bremen_Technical Employee (d/f/m) f...,2022-05-13,Airbus,Technical Employee Airbus Fire Lab Bremen,"The OpportunityJob Description:At Airbus, our ...",Bremen,Bremen,Germany,Germany,Europe
11,2022-05-11_Bruchsal_System Engineer - Verifica...,2022-05-11,Volocopter GmbH,System Engineer - Verification,Your mission during this flight:As SystemVerif...,Bruchsal,Baden Wurttemberg,Germany,Germany,Europe
12,2022-04-28_Toulouse_Aftermarket Strategy Archi...,2022-04-28,Airbus,Aftermarket Strategy Architect,Job DescriptionThe Aftermarket Strategy recrui...,Toulouse,Occitanie,France,France,Europe
13,2022-04-09_Le Mans_Pilote de recette flux comp...,2022-04-09,Freelance-info.fr,Accounting flow acceptance pilot / Freelance,Strong constraint of the project Management of...,Le Mans,Pays de la Loire,France,France,Europe
14,2022-05-16_Pierrelatte_Head of SURVEY Copter (...,2022-05-16,Airbus,Head SURVEY Copter,Job DescriptionWe have an opportunity working ...,Pierrelatte,None,France,France,Europe
15,2022-05-03_Hamburg_#ZEROe Fuel Cell System Eng...,2022-05-03,Airbus,#ZEROe Fuel Cell System Engineer,"Job DescriptionYour OpportunityAt Airbus, our ...",Hamburg,Hamburg,Germany,Germany,Europe
16,2022-04-19_Capelle aan den IJssel_Klantenservi...,2022-04-19,Olympia,Customer Service Employee Transavia,What are you going to do? Do you have an affin...,Capelle aan den IJssel,None,Netherlands,Netherlands,Europe
17,2022-05-01_Sauveterre_Controleur de Gestion In...,2022-05-01,Crit Intérim,Industrial Management Controller - Bayonne,"You are looking for a permanent, fixed-term or...",Sauveterre,None,France,France,Europe
18,2022-05-12_Issoire_MECANICIEN AVIONS,2022-05-12,Issoire Aviation,AIRCRAFT MECHANIC,Function: AIRCRAFT MECHANIC (F/M). REF: 2022-0...,Issoire,None,France,France,Europe
19,2022-04-18_Raunheim_Consultant (m/f/diverse) -...,2022-04-18,Lufthansa Systems,Consultant - Focus management consulting,You love to work in the airline or aviation in...,Raunheim,Hesse,Germany,Germany,Europe
20,2022-05-19_Unterlüß_Project Manager Tracked Ve...,2022-05-19,Rheinmetall Group,Project Manager Tracked Vehicles,What We Are Looking ForProject Manager for a U...,Unterlüß,Lower Saxony,Germany,Germany,Europe
21,2022-05-09_Toulouse_ALTERNANCE – Data Scientis...,2022-05-09,Thales,ALTERNANCE – Data Scientist Marketing –,WHO ARE WE?The avionics activity brings togeth...,Toulouse,Occitanie,France,France,Europe
22,2022-04-23_Hasparren_Alternance «Projet amélio...,2022-04-23,LAUAK GROUPE,“Production improvement project” work-study pr...,"CompanyA fast-developing family group, LAUAK i...",Hasparren,None,France,France,Europe
23,2022-05-10_Roissy-en-France_Operational Excell...,2022-05-10,Worldwide Flight Services (WFS),Operational Excellence System Expert,"With more than 165 stations globally, Worldwid...",Roissy-en-France,None,France,France,Europe
24,"2022-05-26_California_Aerospace Engineer, AST,...",2022-05-26,NASA - National Aeronautics and Space Administ...,"Aerospace Engineer, AST, Flight Systems Engine...",DutiesSummaryThis position is within the Syste...,California,None,United States,United States,NaN
25,2021-11-19_Longsheng Various Nationalities Aut...,2021-11-19,mtu solutions,Sr. Application Engineer - Electronics Controls,"Job FunctionsAt Rolls-Royce, we see sustainabi...",Longsheng Various Nationalities Autonomous County,None,China,China,East Asia
26,2022-04-12_Bruchsal_Flight Physics – Intern Ac...,2022-04-12,Volocopter GmbH,Flight Physics – Intern Acoustics,Your mission during this flight:You are a moti...,Bruchsal,Baden Wurttemberg,Germany,Germany,Europe
27,2022-05-18_Nice_MSA Pilot Coordinator,2022-05-18,BRP,MSA Pilot Coordinator,WHY JOIN THE TEAM?You enjoy high levels of act...,Nice,Provence-Alpes-Côte d'Azur,France,France,Europe
28,2022-05-19_Bron_Stagiaire Commercial H/F,2022-05-19,Alternative - Conseil en recrutement,Sales Intern,"Totally independent and proud of it, we carefu...",Bron,Auvergne-Rhône-Alpes,France,France,Europe
29,2022-05-18_Paris_Head of Flight Supply Strateg...,2022-05-18,Agoda,Head Flight Supply Strategy – Strategic Partne...,About AgodaAgoda is an online travel booking p...,Paris,Île-de-France,France,France,Europe
30,2022-05-05_Munich_Team Assistant (f/m/x),2022-05-05,PMA Partner,Team Assistant,About PMA Partner – we believe in people PMA P...,Munich,Bavaria,Germany,Germany,Europe
31,2022-05-21_Us_O&M Manager - Europe,2022-05-21,IAP Worldwide Services,O&M Manager - Europe,This position is located in EuropeAs the O&M M...,Us,None,France,France,Europe
32,2022-05-03_Saint-Gilles_Chaudronnier aéronauti...,2022-05-03,Aviation Défense Service (AVdef),Aeronautical boilermaker,"Description of the company: Founded in 1989, A...",Saint-Gilles,None,France,France,Europe
33,2022-05-27_Stuttgart_Operations Analyst,2022-05-27,Valiant Integrated Services,Operations Analyst,,Stuttgart,Baden Wurttemberg,Germany,Germany,Europe
34,2022-05-12_Hannover_Finance Reporting Analyst ...,2022-05-12,TUI,Finance Reporting Analyst KPI Cashflow,TUI Group is the world’s number one integrated...,Hannover,Lower Saxony,Germany,Germany,Europe
35,2022-05-09_Toulouse_Tester for the Electrical ...,2022-05-09,Airbus,Tester Electrical platform future,A position of Tester for the electrical platfo...,Toulouse,Occitanie,France,France,Europe
36,2022-05-05_Mérignac_Assistant,2022-05-05,Dassault Aviation,Assistant,"Hello, I am looking for a fixed-term contract ...",Mérignac,Nouvelle-Aquitaine,France,France,Europe
37,2022-04-17_Paris_Cargo Sales Agent,2022-04-17,Air Canada,Cargo Sales Agent,DescriptionJob DescriptionBeing part of Air Ca...,Paris,Île-de-France,France,France,Europe
38,2022-05-13_Rungis_Strategy Manager F/H,2022-05-13,Thales,Strategy Manager,WHO ARE WE? Do you want to join a dynamic and ...,Rungis,None,France,France,Europe
39,2022-04-29_Marsais-Sainte-Radégonde_Energy man...,2022-04-29,VINCI Airports,Energy management specialist,ANA is responsible for managing 10 airports in...,Marsais-Sainte-Radégonde,None,France,France,Europe
40,2022-05-09_Greater Munich Metropolitan Area_Ch...,2022-05-09,MEAJET,Charter Broker,"Join our team!As a Munich aviation company, we...",Munich,None,Germany,Germany,Europe
41,2022-05-11_Hahn_Quality Manager,2022-05-11,Ryanair - Europe's Favourite Airline,Quality Manager,Quality Manager to join our Base Maintenance t...,Hahn,Rhineland Palatinate,Germany,Germany,Europe
42,2022-05-02_Toulouse_Ingeniero/a Aeronáutico,2022-05-02,ALTEN,Aeronautical Engineer,"We are looking for eager, proactive and versat...",Toulouse,Occitanie,France,France,Europe
43,2022-05-18_Marseille_#ET5A Unmanned Air System...,2022-05-18,Airbus,#ET5A Unmanned Air System (UAS) / Urban Air Mo...,"Job DescriptionOur Purpose, Our Team and Our A...",Marseille,Provence-Alpes-Côte d'Azur,France,France,Europe
44,2022-04-10_Radevormwald_Stellvertretende Betri...,2022-04-10,Klüh Service Management GmbH,Deputy manager,For our customer in Oberberg we are looking fo...,Radevormwald,North Rhine-Westphalia,Germany,Germany,Europe
45,2022-05-09_Rotterdam_Recruitment Manager,2022-05-09,Merkle Nederland,Recruitment Manager,Recruitment Manager Merkle (dentsu) A complete...,Rotterdam,None,Netherlands,Netherlands,Europe
46,2022-05-19_Schiphol-Rijk_Applicatie Engineer,2022-05-19,Transavia,Application Engineer,We are looking for you as an Application Engin...,Schiphol-Rijk,None,Netherlands,Netherlands,Europe
47,2022-05-24_La Défense_Airport Operations Proje...,2022-05-24,VINCI Airports,Airport Operations Project Manager,"VINCI Airports, the world's leading private ai...",La Défense,None,France,France,Europe
48,2022-05-18_Manching_Sachbearbeiter Zoll (m/w/d),2022-05-18,Orizon GmbH,Customs clerk,Your future job For our customer Airbus Defens...,Manching,Bavaria,Germany,Germany,Europe
49,2022-04-13_Toulouse_ATR - Fleet Airworthiness ...,2022-04-13,Airbus,ATR - Fleet Airworthiness Manager ( F/M),Job DescriptionMissionIn the frame of EASA PAR...,Toulouse,Occitanie,France,France,Europe

In [31]:
jobs_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1779 entries, 0 to 1778
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           1779 non-null   object
 1   posted_date      1779 non-null   datetime64[ns]
 2   company_name     1779 non-null   object
 3   job_title_en     1779 non-null   object
 4   job_description  1779 non-null   object
 5   city             1779 non-null   object
 6   state            1118 non-null   object
 7   country          1779 non-null   object
 8   search_country   1779 non-null   object
 9   world_region     1165 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 139.1+ KB

In [10]:
region_category = {
    'Europe' : ['Ukraine', 'France', 'Spain', 'Sweden', 'Norway', 'Germany', 'Finland', 'Poland', 'Italy', 'United Kingdom', 
                'Romania', 'Belarus', 'Kazakhstan', 'Greece', 'Bulgaria', 'Iceland', 'Hungary', 'Portugal', 'Serbia', 'Austria', 
                'Czech Republic', 'Ireland', 'Lithuania', 'Latvia', 'Croatia', 'Bosnia and Herzegovina', 'Slovakia', 'Estonia', 
                'Denmark', 'Switzerland', 'Netherlands', 'Moldova', 'Belgium', 'Albania', 'North Macedonia', 'Slovenia', 
                'Montenegro', 'Kosovo', 'Azerbaijan', 'Luxembourg', 'Andorra', 'Malta', 'Liechtenstein', 'San Marino', 
                'Monaco', 'Vatican City', 'Cyprus',  'Czechia', 'Czech Republic'],

    'Africa' : ['Nigeria', 'Ethiopia', 'Egypt', 'DR Congo', 'Tanzania', 'South Africa', 'Kenya', 'Uganda', 'Algeria', 
                'Sudan', 'Morocco', 'Angola', 'Mozambique', 'Ghana', 'Madagascar', 'Cameroon', 'Niger', 'Burkina Faso', 'Mali', 
                'Malawi', 'Zambia', 'Senegal', 'Chad', 'Somalia', 'Zimbabwe', 'Guinea', 'Rwanda', 'Benin', 'Burundi', 'Tunisia', 
                'South Sudan', 'Togo', 'Sierra Leone', 'Libya', 'Congo', 'Liberia', 'Central African Republic', 'Mauritania', 'Eritrea', 
                'Namibia', 'Gambia', 'Botswana', 'Gabon', 'Lesotho', 'Guinea-Bissau', 'Equatorial Guinea', 'Mauritius', 'Eswatini', 'Djibouti'],

'Middle East' : ['Turkey', 'Bahrain', 'Kuwait', 'Oman', 'Qatar', 'Saudi Arabia', 'United Arab Emirates', 'Yemen', 'Abkhazia', 'Armenia', 
                'Artsakh', 'Azerbaijan', 'Georgia', 'South Ossetia', 'Iraq', 'Israel', 'Jordan', 'Lebanon', 'Palestine', 'Syria', 'Iran', 
                'Akrotiri and Dhekelia', 'Cyprus'],
                
'North America' : ['USA', 'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 
                'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 
                'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 
                'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
                'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
                'West Virginia', 'Wisconsin', 'Wyoming', 'Canada', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 
                'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 
                'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'],

'Central America' : ['Mexico', 'Guatemala', 'Cuba', 'Haiti', 'Dominican Republic', 'Honduras', 'Nicaragua', 'El Salvador', 'Costa Rica', 'Panama', 
                    'Jamaica', 'Trinidad and Tobago', 'Belize', 'Bahamas', 'Barbados', 'Saint Lucia', 'Grenada', 'Antigua and Barbuda', 'Dominica', 
                    'Saint Kitts and Nevis'],

'South America' : ['Argentina', 'Bolivia', 'Bouvet Island', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Falkland Islands', 'French Guiana', 
                'Guyana', 'Paraguay', 'Peru', 'South Georgia', 'Suriname', 'Uruguay', 'Venezuela', 'South Sandwich Islands'],

'South Asia' : ['Afghanistan', 'Bangladesh', 'Bhutan', 'India', 'Nepal', 'Maldives', 'Pakistan', 'Sri Lanka'],

'Southeast Asia' : ['Brunei', 'Cambodia', 'East Timor', 'Indonesia', 'Laos', 'Malaysia', 'Myanmar', 'Philippines', 'Singapore', 'Thailand', 'Vietnam'],

'Central Asia' : ['Kazakhstan', 'Kyrgyzstan', 'Tajikistan', 'Turkmenistan', 'Uzbekistan'],

'East Asia' : ['China', 'Hong Kong', 'Macau', 'Japan', 'Mongolia', 'North Korea', 'South Korea', 'Taiwan']

}

In [28]:
jobs_complete = jobs_complete.drop(columns='job_title_trans', axis=1)

In [7]:
jobs_complete['search_country'] = jobs_complete['country']

In [19]:
world_regions = pd.Series([])

for row in range(len(jobs_complete)):

    for key in region_category:

        for value in region_category[key]:
            
            if jobs_complete['country'][row] == value:
                world_regions[row] = key
   
jobs_complete.insert(9, "world_region", world_regions)

In [21]:
jobs_complete['job_title_trans'] = jobs_complete['job_title_en']

In [25]:
new_stopwords = ['(m/f/d)', 'H/F', 'M/F', '(m/f)', 'F/M', '(d/f/m)', '(m/w/d)', '(m/f/diverse)', 'F/H', 
            '(F/M)', '( F/M)', 'm/f', '(m/f/x)', '(M/F/D)', '(all genders)', '(M/F)', '(d/m/f)', '(m / w / d)', 
            '(D/W/M)', '(f/m/d)', '(f/m/x)', '(f/m/diverse)', '(F / H)', '(He/She/They)', '(She/He/They)', 
            'F / H', '(H/F)', '(w/m/d)', '(3rd Shift)', '(1st Shift)','(On-Site', '( F/M)', '(Direct Hire)', 'REMOTE', 'Remote', 'remote']
#nltk.download('stopwords')     #### I don't know if it has to be in the function       

#global stopwords
stopwords = stopwords.words('english')
stopwords.extend(new_stopwords)

clean_job_title = pd.Series([])

for row in range(len(jobs_complete)):
    clean_job_title[row] = ' '.join([word for word in jobs_complete.loc[row, 'job_title_trans'].split() if word not in stopwords])

jobs_complete.insert(3, "job_title_en", clean_job_title)

In [30]:
jobs_complete['posted_date'] = pd.to_datetime(jobs_complete['posted_date'], format="%Y-%m-%d")

In [34]:
schema = os.getenv('schema')
from sql import engine
for row in range(len(jobs_complete)):
    try:
        jobs_complete.iloc[row:row+1, 0:10].to_sql(name='jobs',                 # Name of DF table
                                                con=engine,                     # Engine or connection
                                                if_exists='append',             # Just add new values in existing table
                                                schema=schema,                  # Use schema that was defined earlier in .sql
                                                index=False,                    # Write DataFrame index as a column
                                                chunksize=1,                    # Specify the number of rows in each batch to be written at a time
                                                method='multi')                 # Pass multiple values in a single INSERT clause
        print(f"row {row} of jobs was inserted successfully.")
    except:
        print(f"row {row} of jobs was ignored.")
        continue

row 0 of jobs was inserted successfully.
row 1 of jobs was inserted successfully.
row 2 of jobs was inserted successfully.
row 3 of jobs was inserted successfully.
row 4 of jobs was inserted successfully.
row 5 of jobs was inserted successfully.
row 6 of jobs was inserted successfully.
row 7 of jobs was inserted successfully.
row 8 of jobs was inserted successfully.
row 9 of jobs was inserted successfully.
row 10 of jobs was inserted successfully.
row 11 of jobs was inserted successfully.
row 12 of jobs was inserted successfully.
row 13 of jobs was inserted successfully.
row 14 of jobs was inserted successfully.
row 15 of jobs was inserted successfully.
row 16 of jobs was inserted successfully.
row 17 of jobs was inserted successfully.
row 18 of jobs was inserted successfully.
row 19 of jobs was inserted successfully.
row 20 of jobs was inserted successfully.
row 21 of jobs was inserted successfully.
row 22 of jobs was inserted successfully.
row 23 of jobs was inserted successfully.
row 24 of jobs was inserted successfully.
row 25 of jobs was inserted successfully.
row 26 of jobs was inserted successfully.
row 27 of jobs was inserted successfully.
row 28 of jobs was inserted successfully.
row 29 of jobs was inserted successfully.
row 30 of jobs was inserted successfully.
row 31 of jobs was inserted successfully.
row 32 of jobs was inserted successfully.
row 33 of jobs was inserted successfully.
row 34 of jobs was inserted successfully.
row 35 of jobs was inserted successfully.
row 36 of jobs was inserted successfully.
row 37 of jobs was inserted successfully.
row 38 of jobs was inserted successfully.
row 39 of jobs was inserted successfully.
row 40 of jobs was inserted successfully.
row 41 of jobs was inserted successfully.
row 42 of jobs was inserted successfully.
row 43 of jobs was inserted successfully.
row 44 of jobs was inserted successfully.
row 45 of jobs was inserted successfully.
row 46 of jobs was inserted successfully.
row 47 of jobs was inserted successfully.
row 48 of jobs was inserted successfully.
row 49 of jobs was inserted successfully.
row 50 of jobs was inserted successfully.
row 51 of jobs was inserted successfully.
row 52 of jobs was inserted successfully.
row 53 of jobs was inserted successfully.
row 54 of jobs was inserted successfully.
row 55 of jobs was inserted successfully.
row 56 of jobs was inserted successfully.
row 57 of jobs was inserted successfully.
row 58 of jobs was inserted successfully.
row 59 of jobs was inserted successfully.
row 60 of jobs was inserted successfully.
row 61 of jobs was inserted successfully.
row 62 of jobs was inserted successfully.
row 63 of jobs was inserted successfully.
row 64 of jobs was inserted successfully.
row 65 of jobs was inserted successfully.
row 66 of jobs was inserted successfully.
row 67 of jobs was inserted successfully.
row 68 of jobs was inserted successfully.
row 69 of jobs was inserted successfully.
row 70 of jobs was inserted successfully.
row 71 of jobs was inserted successfully.
row 72 of jobs was inserted successfully.
row 73 of jobs was inserted successfully.
row 74 of jobs was inserted successfully.
row 75 of jobs was inserted successfully.
row 76 of jobs was inserted successfully.
row 77 of jobs was inserted successfully.
row 78 of jobs was inserted successfully.
row 79 of jobs was inserted successfully.
row 80 of jobs was inserted successfully.
row 81 of jobs was inserted successfully.
row 82 of jobs was inserted successfully.
row 83 of jobs was inserted successfully.
row 84 of jobs was inserted successfully.
row 85 of jobs was inserted successfully.
row 86 of jobs was inserted successfully.
row 87 of jobs was inserted successfully.
row 88 of jobs was inserted successfully.
row 89 of jobs was inserted successfully.
row 90 of jobs was inserted successfully.
row 91 of jobs was inserted successfully.
row 92 of jobs was inserted successfully.
row 93 of jobs was inserted successfully.
row 94 of jobs was inserted successfully.
row 95 of jobs was inserted successfully.
row 96 of jobs was inserted successfully.
row 97 of jobs was inserted successfully.
row 98 of jobs was inserted successfully.
row 99 of jobs was inserted successfully.
row 100 of jobs was inserted successfully.
row 101 of jobs was inserted successfully.
row 102 of jobs was inserted successfully.
row 103 of jobs was inserted successfully.
row 104 of jobs was inserted successfully.
row 105 of jobs was inserted successfully.
row 106 of jobs was inserted successfully.
row 107 of jobs was inserted successfully.
row 108 of jobs was inserted successfully.
row 109 of jobs was inserted successfully.
row 110 of jobs was inserted successfully.
row 111 of jobs was inserted successfully.
row 112 of jobs was inserted successfully.
row 113 of jobs was inserted successfully.
row 114 of jobs was inserted successfully.
row 115 of jobs was inserted successfully.
row 116 of jobs was inserted successfully.
row 117 of jobs was inserted successfully.
row 118 of jobs was inserted successfully.
row 119 of jobs was inserted successfully.
row 120 of jobs was inserted successfully.
row 121 of jobs was inserted successfully.
row 122 of jobs was inserted successfully.
row 123 of jobs was inserted successfully.
row 124 of jobs was inserted successfully.
row 125 of jobs was inserted successfully.
row 126 of jobs was inserted successfully.
row 127 of jobs was inserted successfully.
row 128 of jobs was inserted successfully.
row 129 of jobs was inserted successfully.
row 130 of jobs was inserted successfully.
row 131 of jobs was inserted successfully.
row 132 of jobs was inserted successfully.
row 133 of jobs was inserted successfully.
row 134 of jobs was inserted successfully.
row 135 of jobs was inserted successfully.
row 136 of jobs was inserted successfully.
row 137 of jobs was inserted successfully.
row 138 of jobs was inserted successfully.
row 139 of jobs was inserted successfully.
row 140 of jobs was inserted successfully.
row 141 of jobs was inserted successfully.
row 142 of jobs was inserted successfully.
row 143 of jobs was inserted successfully.
row 144 of jobs was inserted successfully.
row 145 of jobs was inserted successfully.
row 146 of jobs was inserted successfully.
row 147 of jobs was inserted successfully.
row 148 of jobs was inserted successfully.
row 149 of jobs was inserted successfully.
row 150 of jobs was inserted successfully.
row 151 of jobs was inserted successfully.
row 152 of jobs was inserted successfully.
row 153 of jobs was inserted successfully.
row 154 of jobs was inserted successfully.
row 155 of jobs was inserted successfully.
row 156 of jobs was inserted successfully.
row 157 of jobs was inserted successfully.
row 158 of jobs was inserted successfully.
row 159 of jobs was inserted successfully.
row 160 of jobs was inserted successfully.
row 161 of jobs was inserted successfully.
row 162 of jobs was inserted successfully.
row 163 of jobs was inserted successfully.
row 164 of jobs was inserted successfully.
row 165 of jobs was inserted successfully.
row 166 of jobs was inserted successfully.
row 167 of jobs was inserted successfully.
row 168 of jobs was inserted successfully.
row 169 of jobs was inserted successfully.
row 170 of jobs was inserted successfully.
row 171 of jobs was inserted successfully.
row 172 of jobs was inserted successfully.
row 173 of jobs was inserted successfully.
row 174 of jobs was inserted successfully.
row 175 of jobs was inserted successfully.
row 176 of jobs was inserted successfully.
row 177 of jobs was inserted successfully.
row 178 of jobs was inserted successfully.
row 179 of jobs was inserted successfully.
row 180 of jobs was inserted successfully.
row 181 of jobs was inserted successfully.
row 182 of jobs was inserted successfully.
row 183 of jobs was inserted successfully.
row 184 of jobs was inserted successfully.
row 185 of jobs was inserted successfully.
row 186 of jobs was inserted successfully.
row 187 of jobs was inserted successfully.
row 188 of jobs was inserted successfully.
row 189 of jobs was inserted successfully.
row 190 of jobs was inserted successfully.
row 191 of jobs was inserted successfully.
row 192 of jobs was inserted successfully.
row 193 of jobs was inserted successfully.
row 194 of jobs was inserted successfully.
row 195 of jobs was inserted successfully.
row 196 of jobs was inserted successfully.
row 197 of jobs was inserted successfully.
row 198 of jobs was inserted successfully.
row 199 of jobs was inserted successfully.
row 200 of jobs was inserted successfully.
row 201 of jobs was inserted successfully.
row 202 of jobs was inserted successfully.
row 203 of jobs was inserted successfully.
row 204 of jobs was inserted successfully.
row 205 of jobs was inserted successfully.
row 206 of jobs was inserted successfully.
row 207 of jobs was inserted successfully.
row 208 of jobs was inserted successfully.
row 209 of jobs was inserted successfully.
row 210 of jobs was inserted successfully.
row 211 of jobs was inserted successfully.
row 212 of jobs was inserted successfully.
row 213 of jobs was inserted successfully.
row 214 of jobs was inserted successfully.
row 215 of jobs was inserted successfully.
row 216 of jobs was inserted successfully.
row 217 of jobs was inserted successfully.
row 218 of jobs was inserted successfully.
row 219 of jobs was inserted successfully.
row 220 of jobs was inserted successfully.
row 221 of jobs was inserted successfully.
row 222 of jobs was inserted successfully.
row 223 of jobs was inserted successfully.
row 224 of jobs was inserted successfully.
row 225 of jobs was inserted successfully.
row 226 of jobs was inserted successfully.
row 227 of jobs was inserted successfully.
row 228 of jobs was inserted successfully.
row 229 of jobs was inserted successfully.
row 230 of jobs was inserted successfully.
row 231 of jobs was inserted successfully.
row 232 of jobs was inserted successfully.
row 233 of jobs was inserted successfully.
row 234 of jobs was inserted successfully.
row 235 of jobs was inserted successfully.
row 236 of jobs was inserted successfully.
row 237 of jobs was inserted successfully.
row 238 of jobs was inserted successfully.
row 239 of jobs was inserted successfully.
row 240 of jobs was inserted successfully.
row 241 of jobs was inserted successfully.
row 242 of jobs was inserted successfully.
row 243 of jobs was inserted successfully.
row 244 of jobs was inserted successfully.
row 245 of jobs was inserted successfully.
row 246 of jobs was inserted successfully.
row 247 of jobs was inserted successfully.
row 248 of jobs was inserted successfully.
row 249 of jobs was inserted successfully.
row 250 of jobs was inserted successfully.
row 251 of jobs was inserted successfully.
row 252 of jobs was inserted successfully.
row 253 of jobs was inserted successfully.
row 254 of jobs was inserted successfully.
row 255 of jobs was inserted successfully.
row 256 of jobs was inserted successfully.
row 257 of jobs was inserted successfully.
row 258 of jobs was inserted successfully.
row 259 of jobs was inserted successfully.
row 260 of jobs was inserted successfully.
row 261 of jobs was inserted successfully.
row 262 of jobs was inserted successfully.
row 263 of jobs was inserted successfully.
row 264 of jobs was inserted successfully.
row 265 of jobs was inserted successfully.
row 266 of jobs was inserted successfully.
row 267 of jobs was inserted successfully.
row 268 of jobs was inserted successfully.
row 269 of jobs was inserted successfully.
row 270 of jobs was inserted successfully.
row 271 of jobs was inserted successfully.
row 272 of jobs was inserted successfully.
row 273 of jobs was inserted successfully.
row 274 of jobs was inserted successfully.
row 275 of jobs was inserted successfully.
row 276 of jobs was inserted successfully.
row 277 of jobs was inserted successfully.
row 278 of jobs was inserted successfully.
row 279 of jobs was inserted successfully.
row 280 of jobs was inserted successfully.
row 281 of jobs was inserted successfully.
row 282 of jobs was inserted successfully.
row 283 of jobs was inserted successfully.
row 284 of jobs was inserted successfully.
row 285 of jobs was inserted successfully.
row 286 of jobs was inserted successfully.
row 287 of jobs was inserted successfully.
row 288 of jobs was inserted successfully.
row 289 of jobs was inserted successfully.
row 290 of jobs was inserted successfully.
row 291 of jobs was inserted successfully.
row 292 of jobs was inserted successfully.
row 293 of jobs was inserted successfully.
row 294 of jobs was inserted successfully.
row 295 of jobs was inserted successfully.
row 296 of jobs was inserted successfully.
row 297 of jobs was inserted successfully.
row 298 of jobs was inserted successfully.
row 299 of jobs was inserted successfully.
row 300 of jobs was inserted successfully.
row 301 of jobs was inserted successfully.
row 302 of jobs was inserted successfully.
row 303 of jobs was inserted successfully.
row 304 of jobs was inserted successfully.
row 305 of jobs was inserted successfully.
row 306 of jobs was inserted successfully.
row 307 of jobs was inserted successfully.
row 308 of jobs was inserted successfully.
row 309 of jobs was inserted successfully.
row 310 of jobs was inserted successfully.
row 311 of jobs was inserted successfully.
row 312 of jobs was inserted successfully.
row 313 of jobs was inserted successfully.
row 314 of jobs was inserted successfully.
row 315 of jobs was inserted successfully.
row 316 of jobs was inserted successfully.
row 317 of jobs was inserted successfully.
row 318 of jobs was inserted successfully.
row 319 of jobs was inserted successfully.
row 320 of jobs was inserted successfully.
row 321 of jobs was inserted successfully.
row 322 of jobs was inserted successfully.
row 323 of jobs was inserted successfully.
row 324 of jobs was inserted successfully.
row 325 of jobs was inserted successfully.
row 326 of jobs was inserted successfully.
row 327 of jobs was inserted successfully.
row 328 of jobs was inserted successfully.
row 329 of jobs was inserted successfully.
row 330 of jobs was inserted successfully.
row 331 of jobs was inserted successfully.
row 332 of jobs was inserted successfully.
row 333 of jobs was inserted successfully.
row 334 of jobs was inserted successfully.
row 335 of jobs was inserted successfully.
row 336 of jobs was inserted successfully.
row 337 of jobs was inserted successfully.
row 338 of jobs was inserted successfully.
row 339 of jobs was inserted successfully.
row 340 of jobs was inserted successfully.
row 341 of jobs was inserted successfully.
row 342 of jobs was inserted successfully.
row 343 of jobs was inserted successfully.
row 344 of jobs was inserted successfully.
row 345 of jobs was inserted successfully.
row 346 of jobs was inserted successfully.
row 347 of jobs was inserted successfully.
row 348 of jobs was inserted successfully.
row 349 of jobs was inserted successfully.
row 350 of jobs was inserted successfully.
row 351 of jobs was inserted successfully.
row 352 of jobs was inserted successfully.
row 353 of jobs was inserted successfully.
row 354 of jobs was inserted successfully.
row 355 of jobs was inserted successfully.
row 356 of jobs was inserted successfully.
row 357 of jobs was inserted successfully.
row 358 of jobs was inserted successfully.
row 359 of jobs was inserted successfully.
row 360 of jobs was inserted successfully.
row 361 of jobs was inserted successfully.
row 362 of jobs was inserted successfully.
row 363 of jobs was inserted successfully.
row 364 of jobs was inserted successfully.
row 365 of jobs was inserted successfully.
row 366 of jobs was inserted successfully.
row 367 of jobs was inserted successfully.
row 368 of jobs was inserted successfully.
row 369 of jobs was inserted successfully.
row 370 of jobs was inserted successfully.
row 371 of jobs was inserted successfully.
row 372 of jobs was inserted successfully.
row 373 of jobs was inserted successfully.
row 374 of jobs was inserted successfully.
row 375 of jobs was inserted successfully.
row 376 of jobs was inserted successfully.
row 377 of jobs was inserted successfully.
row 378 of jobs was inserted successfully.
row 379 of jobs was inserted successfully.
row 380 of jobs was inserted successfully.
row 381 of jobs was inserted successfully.
row 382 of jobs was inserted successfully.
row 383 of jobs was inserted successfully.
row 384 of jobs was inserted successfully.
row 385 of jobs was inserted successfully.
row 386 of jobs was inserted successfully.
row 387 of jobs was inserted successfully.
row 388 of jobs was inserted successfully.
row 389 of jobs was inserted successfully.
row 390 of jobs was inserted successfully.
row 391 of jobs was inserted successfully.
row 392 of jobs was inserted successfully.
row 393 of jobs was inserted successfully.
row 394 of jobs was inserted successfully.
row 395 of jobs was inserted successfully.
row 396 of jobs was inserted successfully.
row 397 of jobs was inserted successfully.
row 398 of jobs was inserted successfully.
row 399 of jobs was inserted successfully.
row 400 of jobs was inserted successfully.
row 401 of jobs was inserted successfully.
row 402 of jobs was inserted successfully.
row 403 of jobs was inserted successfully.
row 404 of jobs was inserted successfully.
row 405 of jobs was inserted successfully.
row 406 of jobs was inserted successfully.
row 407 of jobs was inserted successfully.
row 408 of jobs was inserted successfully.
row 409 of jobs was inserted successfully.
row 410 of jobs was inserted successfully.
row 411 of jobs was inserted successfully.
row 412 of jobs was inserted successfully.
row 413 of jobs was inserted successfully.
row 414 of jobs was inserted successfully.
row 415 of jobs was inserted successfully.
row 416 of jobs was inserted successfully.
row 417 of jobs was inserted successfully.
row 418 of jobs was inserted successfully.
row 419 of jobs was inserted successfully.
row 420 of jobs was inserted successfully.
row 421 of jobs was inserted successfully.
row 422 of jobs was inserted successfully.
row 423 of jobs was inserted successfully.
row 424 of jobs was inserted successfully.
row 425 of jobs was inserted successfully.
row 426 of jobs was inserted successfully.
row 427 of jobs was inserted successfully.
row 428 of jobs was inserted successfully.
row 429 of jobs was inserted successfully.
row 430 of jobs was inserted successfully.
row 431 of jobs was inserted successfully.
row 432 of jobs was inserted successfully.
row 433 of jobs was inserted successfully.
row 434 of jobs was inserted successfully.
row 435 of jobs was inserted successfully.
row 436 of jobs was inserted successfully.
row 437 of jobs was inserted successfully.
row 438 of jobs was inserted successfully.
row 439 of jobs was inserted successfully.
row 440 of jobs was inserted successfully.
row 441 of jobs was inserted successfully.
row 442 of jobs was inserted successfully.
row 443 of jobs was inserted successfully.
row 444 of jobs was inserted successfully.
row 445 of jobs was inserted successfully.
row 446 of jobs was inserted successfully.
row 447 of jobs was inserted successfully.
row 448 of jobs was inserted successfully.
row 449 of jobs was inserted successfully.
row 450 of jobs was inserted successfully.
row 451 of jobs was inserted successfully.
row 452 of jobs was inserted successfully.
row 453 of jobs was inserted successfully.
row 454 of jobs was inserted successfully.
row 455 of jobs was inserted successfully.
row 456 of jobs was inserted successfully.
row 457 of jobs was inserted successfully.
row 458 of jobs was inserted successfully.
row 459 of jobs was inserted successfully.
row 460 of jobs was inserted successfully.
row 461 of jobs was inserted successfully.
row 462 of jobs was inserted successfully.
row 463 of jobs was inserted successfully.
row 464 of jobs was inserted successfully.
row 465 of jobs was inserted successfully.
row 466 of jobs was inserted successfully.