## Import everything needed

In [1]:
import pandas as pd
import numpy as np
import requests
import os
from sql import get_data
import psycopg2 # Needed to get database errors when uploading dataframe
import sql
import sqlalchemy
# hides warning messages
import warnings
warnings.filterwarnings("ignore")
import re

## Get data from SQL-database

In [3]:
subcat_df = get_data('''select j.* from capstone.jobs j 
                            join capstone.jobs_jcat jj
                            on j.id = jj.jobs_id
                            where jj.jcat_id = 14''')

In [11]:
subcat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               519 non-null    int64
 1   job_id           519 non-null    object
 2   posted_date      519 non-null    object
 3   company_name     519 non-null    object
 4   job_title_en     519 non-null    object
 5   job_description  519 non-null    object
 6   city             519 non-null    object
 7   state            436 non-null    object
 8   country          519 non-null    object
 9   search_country   519 non-null    object
 10  world_region     519 non-null    object
dtypes: int64(1), object(10)
memory usage: 44.7+ KB

In [2]:
subcategory = {
'Customer Support' : ['Field Support Engineer', 'Field Service Support Engineer', 'Product Support Engineering Lead', 'In-Service Solution Design Engineer', 
                                        'Repair Design Engineer - Back office', 'Product Support Engineer (Electrical System)'],

'Development' : ['Aviation Systems Engineer', 'Analog Electronics Engineer Energy Conversion', 'Principal Validation Verification (V&V) Engineer', 
                'EMC Senior Specialist Engineer', 'Design Engineer', 'Aerospace Data & Process Engineer', 'Performance Dynamics Engineer', 
                'Aero equipment environmental qualification test engineer', 'Engineer-Expert-e Sauvegarde F / H', 
                'System Engineer', 'Functional Engineer Industrial Systems & Data', 'Work-study engineer electrical engineer', 
                'General Aerothermal Engineer', 'Hydraulic Control Systems Engineer', 'Ingenieur conception amelioration LEAP', 
                'Operational Safety Engineer', 'Calculation Methods Engineer - Bearings & Seals', 'Engineer-Usage Methods & Equipment F / H', 
                'Inertial physical modeling engineer', 'MdP densification modeling engineer', 'Structural Calculation Methods Engineer -', 
                'Calculation Tools & Methods Engineer - Tribology', 'PLM Engineer (Product Lifecycle Management)', 'Experienced EMC engineer', 
                'Electronic Board Development Engineer', 'Senior Product Engineer', 'Reliability, Availability. Maintainability Safety (RAMS) Engineer', 
                'Performance Dynamics Engineer', 'CAM PROJECT ENGINEER', 'Tooling Engineer', 'Systems Engineer - Safety & Reliability', 
                'Senior Industrial Innovation Engineer', 'Lead BoM Integration Engineer', 'Tooling Engineer', 'Senior Assembly Methods Engineer', 
                'Principal Electronics Engineer', 'Senior Simulation Means Engineer', 'Senior V&V Engineer', 'Senior Principal Validation Verification (V&V) Engineer', 
                'Senior Electronics Engineer', 'Methods Engineer Rotating Parts', 'Calculation Tools & Methods Engineer', 'AASM Product Engineer', 'Engineer BE / MOA H / F', 
                'Functional Safety Study Engineer', 'HP turbine thermal engineer in-service support', 'Functional pilot PLM/CAD Industrialization Methods', 
                'Engineer-e specialized machining method costs', 'Engineer Development C optronic models', 'CEPI M&P Patents Engineer', 
                'Functional System Missile Test Engineer', 'Inertial Equipment System Engineer', 'Patent Engineer EED Pole CEPI', 'Optronic Observation Systems Engineer', 
                'Optronics System Engineer', 'Airborne Sights System Engineer', 'System Engineer - Combatant Digitization', 'Chemical Engineer', 'Design Engineer', 
                'Design Engineer - Composites', 'Design Engineer II'],

'Managing' : ['Project Engineer', 'Principal Product Engineer', 'Engineering Project Lead', 'SENIOR PRODUCT ENGINEER', 'Senior Configuration Engineer', 'Configuration Management Engineer'],

'Process & Improvement' : ['IS industrial Engineer / Analyst', 'Continuous Improvement Engineer', 'Process Development Engineer', 'Process Development Investment Engineer', 
            'Production industrial performance engineerM/F', 'Process methods engineer', 'Methodist engineer, PLM animator', 'Industrial Methods Engineer', 'Industrial Methods Engineer', 
            'Aerospace Data & Process Engineer', 'External industrialization pilot engineer', 'IS industrial Engineer / Analyst', 'Facilities Engineer', 
            'Pilot Support Shop Visit- Industrial Engineering', 'Industrial Engineer', 'Production Engineer', 'Production Engineer', 'Production Engineer'],

'Testing' : ['Average test reliability performance engineer', 'Electrical Test Engineer', 'Test & Means Engineer', 'Senior Test & Means Engineer', 
            'Engineer responsible test benches means testing']
}

In [16]:
def find_subcategories(subcat_df):
    #job_cat = pd.Series([])

    for row in range(len(subcat_df)):
        for key in subcategory:
            for subcat in subcategory[key]:
                job_title_low = subcat_df['job_title_en'][row].lower()
                subcat_low = subcat.lower()
                #print(subcat_low)
                #jobs_id = subcat_df['id'][row]

                if re.search(subcat_low, job_title_low):
                    print(key)
                    print(subcat_df['id'][row])
                    save_subcategories(key, subcat_df['id'][row])

In [17]:
find_subcategories(subcat_df)

Development
652
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 652
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
652
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 652
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1243
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1243
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1246
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1246
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
547
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 547
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
547
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 547
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
417
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 417
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
631
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 631
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
631
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 631
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
642
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 642
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
642
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 642
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1262
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1262
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1262
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1262
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
62
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 62
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
110
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 110
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
482
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 482
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
482
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 482
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
194
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 194
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
243
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 243
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
269
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 269
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
749
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 749
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
749
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 749
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
311
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 311
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
326
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 326
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
326
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 326
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
352
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 352
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
352
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 352
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
397
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 397
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
509
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 509
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
509
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 509
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
492
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 492
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
492
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 492
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
507
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 507
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
507
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 507
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
549
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 549
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
549
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 549
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
548
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 548
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
557
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 557
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
561
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 561
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
561
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 561
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
596
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 596
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
597
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 597
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
599
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 599
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
599
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 599
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
602
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 602
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
602
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 602
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
614
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 614
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
614
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 614
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
625
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 625
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
625
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 625
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Testing
663
UPDATE capstone.jobs_jcat SET subcategory = 'Testing' WHERE jobs_id = 663
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Customer Support
671
UPDATE capstone.jobs_jcat SET subcategory = 'Customer Support' WHERE jobs_id = 671
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
672
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 672
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
673
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 673
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
675
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 675
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
676
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 676
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
723
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 723
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
685
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 685
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
710
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 710
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
710
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 710
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
712
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 712
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
716
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 716
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
724
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 724
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
730
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 730
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
731
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 731
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
745
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 745
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
745
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 745
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
751
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 751
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
758
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 758
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
759
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 759
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
760
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 760
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
762
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 762
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
763
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 763
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
770
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 770
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
773
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 773
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
781
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 781
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
782
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 782
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
782
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 782
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
871
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 871
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
871
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 871
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Testing
1166
UPDATE capstone.jobs_jcat SET subcategory = 'Testing' WHERE jobs_id = 1166
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Testing
1166
UPDATE capstone.jobs_jcat SET subcategory = 'Testing' WHERE jobs_id = 1166
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1263
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1263
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1263
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1263
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
993
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 993
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
994
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 994
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1025
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1025
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1029
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1029
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1030
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1030
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1030
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1030
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1051
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1051
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1051
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1051
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1081
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1081
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1081
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1081
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1081
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1081
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1096
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1096
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1096
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1096
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1102
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1102
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Customer Support
1105
UPDATE capstone.jobs_jcat SET subcategory = 'Customer Support' WHERE jobs_id = 1105
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Process & Improvement
1124
UPDATE capstone.jobs_jcat SET subcategory = 'Process & Improvement' WHERE jobs_id = 1124
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1119
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1119
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1119
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1119
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Testing
1148
UPDATE capstone.jobs_jcat SET subcategory = 'Testing' WHERE jobs_id = 1148
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1146
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1146
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1150
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1150
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1149
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1149
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1149
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1149
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Managing
1156
UPDATE capstone.jobs_jcat SET subcategory = 'Managing' WHERE jobs_id = 1156
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1159
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1159
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1163
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1163
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Customer Support
1162
UPDATE capstone.jobs_jcat SET subcategory = 'Customer Support' WHERE jobs_id = 1162
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1162
UPDATE capstone.jobs_jcat SET subcategory = 'Development' WHERE jobs_id = 1162
1 Record inserted successfully into mobile table
PostgreSQL connection is closed
Development
1162

In [14]:
def save_subcategories(subcat, jobs_id):
    connection = psycopg2.connect(user="postgres",
                                    password="]+Dr\DXm()`o=L:+",
                                    host="35.234.81.23",
                                    port="5432",
                                    database="postgres")
    
    try:
        
        cursor = connection.cursor()

        postgres_insert_query = f"UPDATE capstone.jobs_jcat SET subcategory = '{subcat}' WHERE jobs_id = {jobs_id}"
        print(postgres_insert_query)
        cursor.execute(postgres_insert_query)

        connection.commit()
        count = cursor.rowcount
        print(count, "Record inserted successfully into mobile table")

    except (Exception, psycopg2.Error) as error:
        print("Failed to insert record into mobile table", error)

    finally:
        # closing database connection.
        if connection:
            cursor.close()
            connection.close()
            print("PostgreSQL connection is closed")